<link rel="stylesheet" href="/css/watchlist.css">
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="card card-custom card-transparent">
            <div class="card-body p-0">
                <!--begin: Wizard-->
                <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="between" data-wizard-clickable="true">
                    <!--begin: Wizard Nav-->
                    <div class="wizard-nav">
                        <div class="wizard-steps">
                            <!--begin::Wizard Step 1 Nav-->
                            <div class="wizard-step" data-wizard-state="pending">
                                <div class="wizard-wrapper">
                                    <div class="wizard-number">1</div>
                                    <div class="wizard-label">
                                        <div class="wizard-title"><a href="/student/all-courses"><u>All Courses</u></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 1 Nav-->
                            <!--begin::Wizard Step 2 Nav-->
                            <div class="wizard-step" data-wizard-state="current">
                                <div class="wizard-wrapper">
                                    <div class="wizard-number">2</div>
                                    <div class="wizard-label">
                                        <div class="wizard-title"><a href="/student/watchlist/1"><u>WatchList</u></a></div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 2 Nav-->
                            <!--begin::Wizard Step 3 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                <div class="wizard-wrapper">
                                    <div class="wizard-number">3</div>
                                    <div class="wizard-label">
                                        <div class="wizard-title"><a href="/student/review-courses"><u>Review
                                                    Courses</u></a></div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 3 Nav-->
                            <!--begin::Wizard Step 4 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
                                <div class="wizard-wrapper">
                                    <div class="wizard-number">4</div>
                                    <div class="wizard-label">
                                        <div class="wizard-title"><a href="/student/archived"><u>Archived</u></a></div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 4 Nav-->
                        </div>
                    </div>
                </div>
                <!--end: Wizard Nav-->
                <!--begin: Wizard Body-->
                <!--begin::Card-->
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <!--begin: Datatable-->
                        <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
                            id="kt_datatable">
                            <table class="datatable-table" style="display: block; border: 1px solid black" id="table">
                                <thead class="datatable-head">
                                    <tr class="datatable-row ml-4">
                                        <th data-field="RecordID"
                                            class="datatable-cell-left datatable-cell datatable-cell-sort datatable-cell-sorted"
                                            data-sort="asc">
                                            <span style="width: 20px;">#

                                            </span>
                                        </th>
                                        <th data-field="OrderID" class="datatable-cell datatable-cell-sort">
                                            <span style="width: 350px;">Course Name</span>
                                        </th>
                                        <th data-field="Country" class="datatable-cell datatable-cell-sort">
                                            <span style="width: 80px;">Teacher</span>
                                        </th>
                                        <th data-field="ShipDate" class="datatable-cell datatable-cell-sort">
                                            <span style="width: 258px;">Date created</span>
                                        </th>
                                        <th data-field="Status" class="datatable-cell datatable-cell-sort">
                                            <span style="width: 58px;">Status</span>
                                        </th>
                                        <th data-field="Actions" class="datatable-cell datatable-cell-sort">
                                            <span style="width: 100px;">Actions</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="datatable-body" style="" id="tbody">
                                {{#each top10Courses}}
                                
                                    <tr data-row="{{@index}}" id="R{{@index}}" class="datatable-row ml-4" style="">
                                        <td class="datatable-cell-sorted datatable-cell-left datatable-cell row-index" data-field="RecordID" aria-label="1">
                                            <span class="font-weight-bolder" style="width: 20px;">
                                                {{math @index '+' 1}}
                                            </span>
                                        </td>
                                        <td data-field="OrderID" aria-label="64616-103" class="datatable-cell">
                                            <span style="width: 350px;">
                                                <div class="d-flex align-items-center">
                                                    <div class="symbol symbol-50 symbol-sm flex-shrink-0">
                                                        <div class="symbol-label">
                                                            <img class="h-75" src="{{this.thumbnail}}" alt="photo">
                                                        </div>
                                                    </div>
                                                    <div class="ml-4">
                                                        <div
                                                            class="text-dark-75 font-weight-bolder font-size-lg mb-0 ml-2">
                                                            {{this.name}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </span></td>
                                        <td data-field="Country" aria-label="Brazil" class="datatable-cell">
                                            <span style="width: 80px;">
                                                <div class="font-weight-bolder font-size-lg mb-0">Brazil</div>
                                            </span>
                                        </td>
                                        <td data-field="ShipDate" aria-label="10/15/2017" class="datatable-cell">
                                            <span style="width: 258px;">
                                                <div class="font-weight-bolder text-primary mb-0">{{this.created_at}}
                                                </div>
                                            </span>
                                        </td>
                                        <td data-field="Status" aria-label="5" class="datatable-cell">
                                            <span style="width: 70px;">
                                                <span
                                                    class="label label-lg font-weight-bold  label-light-info label-inline">Info</span>
                                            </span>
                                        </td>
                                        <td data-field="Actions" data-autohide-disabled="false" aria-label="null" class="datatable-cell">
                                            <span class="s" style="overflow: visible; position: relative; width: 85px;">
                                                <button type="button"
                                                    class="btn btn-sm btn-default btn-text-primary btn-hover-danger btn-icon remove"
                                                    title="Delete">
                                                    <span class="svg-icon svg-icon-md">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                <path
                                                                    d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                                    fill="#000000" fill-rule="nonzero"></path>
                                                                <path
                                                                    d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                                    fill="#000000" opacity="0.3"></path>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                
                                {{/each}}
                                </tbody>
                            </table>
                            <div class="datatable-pager datatable-paging-loaded">
                                <ul class="datatable-pager-nav my-2 mb-sm-0">
                                    <li><a title="First"
                                            class="datatable-pager-link datatable-pager-link-first datatable-pager-link-disabled"
                                            data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a>
                                    </li>
                                    <li><a title="Previous"
                                            class="datatable-pager-link datatable-pager-link-prev datatable-pager-link-disabled"
                                            data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li>
                                    {{#each listpage}}
                                    {{#if @index}}
                                    <li>
                                        <a href="/student/watchlist/{{@index}}" class="datatable-pager-link datatable-pager-link-number {{this}}"
                                            data-page="{{@index}}" title="{{@index}}">{{@index}}
                                        </a>
                                    </li>
                                    {{/if}}
                                    {{/each}}
                                    <li>
                                        <a title="Next" class="datatable-pager-link datatable-pager-link-next" data-page="2">
                                            <i class="flaticon2-next"></i>
                                        </a>
                                    </li>
                                    <li><a title="Last" class="datatable-pager-link datatable-pager-link-last"
                                            data-page="35"><i class="flaticon2-fast-next"></i></a></li>
                                </ul>

                            </div>
                            <!--end: Datatable-->
                        </div>
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Container-->
            </div>
        </div>
        <!--end: Wizard-->
    </div>
</div>
</div>
<!--end::Container-->
</div> 
  <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
  </script> 
  <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 
  <script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script>   
  <script>
      $(document).ready(function () { 
      var rowIdx = 0; 
      $('#tbody').on('click', '.remove', function () { 
        var child = $(this).closest('tr').nextAll(); 
        child.each(function () { 
          var id = $(this).attr('id'); 
          var idx = $(this).children('.row-index').children('span'); 
          var dig = parseInt(id.substring(1));  
          idx.html(`${dig - 1}`); 
          $(this).attr('id', `R${dig - 1}`); 
        });  
        $(this).closest('tr').remove(); 
        rowIdx--; 
      }); 
    });  
</script>