<!--begin::Header-->
<div id="kt_header" class="header header-fixed">

  <!--begin::Container-->
  <div class="container d-flex align-items-stretch justify-content-between">

    <!--begin::Left-->
    <div class="d-flex align-items-stretch mr-3">

      <!--begin::Header Logo-->
      <div class="header-logo">
        <a href="/">
          <img alt="Logo" src="/assets/media/logos/logo-letter-9.png" class="logo-default max-h-40px" />
          <img alt="Logo" src="/assets/media/logos/logo-letter-1.png" class="logo-sticky max-h-40px" />
        </a>
      </div>

      <!--end::Header Logo-->

      <!--begin::Header Menu Wrapper-->
      <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

        <!--begin::Header Menu-->
        <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">

          <!--begin::Header Nav-->
          <ul class="menu-nav">
            <li
              class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here"
              data-menu-toggle="click" aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle">
                <span class="menu-text">Dashboard {{user.username}}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                <ul class="menu-subnav">
                  <li class="menu-item menu-item-active" aria-haspopup="true">
                    <a href="/" class="menu-link">
                      <span class="menu-text">Latest Updated</span>
                      <span class="menu-desc"></span>
                    </a>
                  </li>
                  <li class="menu-item" aria-haspopup="true">
                    <a target="_blank" href="https://preview.keenthemes.com/metronic/demo2/builder.html"
                      class="menu-link">
                      <span class="menu-text">Layout Builder</span>
                      <span class="menu-desc"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
              <a href="javascript:;" class="menu-link menu-toggle">
                <span class="menu-text">Categories</span>
                <span class="menu-desc"></span>
                <i class="menu-arrow"></i>
              </a>
              <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                <ul class="menu-subnav">
                                {{#each cate}}
                  <li class="menu-item menu-item-submenu" data-menu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="menu-link menu-toggle">
                      <span class="svg-icon menu-icon">

                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                          height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path
                              d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path
                              d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
                              fill="#000000" fill-rule="nonzero" />
                          </g>
                        </svg>

                        <!--end::Svg Icon-->
                      </span>
                      <span class="menu-text">{{name}}</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                      <ul class="menu-subnav">
                        {{#each sub_categories}}
                        <li class="menu-item" aria-haspopup="true">
                          <a href="/search?cate_sub_id={{_id}}" class="menu-link">
                            <i class="menu-bullet menu-bullet-dot">
                              <span></span>
                            </i>
                            <span class="menu-text">{{name}}</span>
                          </a>
                        </li>
                        {{/each}}
                      </ul>
                    </div>
                  </li>
                  {{/each}}
                
                </ul>
              </div>
            </li>
          </ul>
          <!--end::Header Nav-->
        </div>
        <!--end::Header Menu-->
      </div>
      <!--end::Header Menu Wrapper-->
    </div>
    <!--end::Left-->
    {{#if user}}
    <!--begin::Topbar-->
    <div class="topbar">

      <!--begin::Search-->
      <div class="dropdown">

        <!--begin::Toggle-->
        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
          <div class="btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown mr-1">
            <span class="svg-icon svg-icon-xl">

              <!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                    fill="#000000" fill-rule="nonzero" opacity="0.3" />
                  <path
                    d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                    fill="#000000" fill-rule="nonzero" />
                </g>
              </svg>

              <!--end::Svg Icon-->
            </span>
          </div>
        </div>

        <!--end::Toggle-->

        <!--begin::Dropdown-->
        <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">

          <!--[html-partial:include:{"file":"partials/_extras/dropdown/search-dropdown.html"}]/-->
        </div>

        <!--end::Dropdown-->
      </div>

      <!--end::Search-->

      <!--begin::Admin-->
      <div class="dropdown">

        <!--begin::Toggle-->
        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
          <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1 pulse pulse-primary">
            <span class="svg-icon svg-icon-xl">

              <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                    fill="#000000" opacity="0.3" />
                  <path
                    d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                    fill="#000000" />
                </g>
              </svg>

              <!--end::Svg Icon-->
            </span>
            <span class="pulse-ring"></span>
          </div>
        </div>

        <!--end::Toggle-->

        <!--begin::Dropdown-->
        <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
          {{>extras/dropdown/quick-action}}
          <!--[html-partial:include:{"file":"partials/_extras/dropdown/quick-actions.html"}]/-->
        </div>

        <!--end::Dropdown-->


      </div>

      <!--end::Admin-->

      <!--begin::Statis-->
      <div class="dropdown">

        <!--begin::Toggle-->
        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
          <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
            <span class="svg-icon svg-icon-xl">

              <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                  <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                  <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                  <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                </g>
              </svg>

              <!--end::Svg Icon-->
            </span>
          </div>
        </div>

        <!--end::Toggle-->
        <div class="topbar-item" >
          <a href="/student/watchlist/1">
            <button type="button" class="btn btn-icon btn-hover-transparent-white btn-lg mr-1">
              <span class="fas fa-heart"></span>
            </button>
          </a>
        </div>
        <!--begin::Dropdown-->
        

        <!--end::Dropdown-->
      </div>

      <!--end::Quick Actions-->



      <!--begin::User-->
      <div class="dropdown">

        <!--begin::Toggle-->
        <div class="topbar-item">
          <div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto"
            id="kt_quick_user_toggle">
            <img class="h-20px w-20px rounded-sm" src="{{user.avatar}}" alt="" style="margin-right:5px" />

            <span class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
            <span
              class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{user.username}}</span>
            <span class="symbol symbol-35">
              <span class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30"><i
                  class="flaticon2-down icon-xs"></i></span>
            </span>
          </div>
        </div>

        <!--end::Toggle-->
      </div>

      <!--end::User-->

    </div>

    <!--end::Topbar-->
    {{/if}}
  </div>

  <!--end::Container-->
</div>

<!--end::Header-->
