{{#section 'script'}}
<script>
    "use strict";
    // Class definition

    var KTDatatableHtmlTableDemo = function () {
        // Private functions

        // demo initializer
        var demo = function () {

            var datatable = $('#kt_datatable').KTDatatable({
                data: {
                    saveState: { cookie: false },
                },
                search: {
                    input: $('#kt_datatable_search_query'),
                    key: 'generalSearch'
                },
                layout: {
                    class: 'datatable-bordered'
                },
                columns: [
                    {
                        field: 'Tên khóa học',
                        title: 'Tên khóa học',
                        autoHide: false,
                    },
                    {
                        field: 'Giảng viên',
                        title: 'Giảng viên',
                        autoHide: false,

                    },
                    {
                        field: 'Category',
                        title: 'Category',
                        autoHide: false,
                    },
                    {
                        field: 'Sub Category',
                        title: 'Sub Category',
                        autoHide: false,
                        // callback function support for column rendering
                    },
                    {
                        field: 'Đánh giá',
                        title: 'Đánh giá',
                        autoHide: false,
                        // callback function support for column rendering
                    },
                    {
                        field: 'Giá tiền',
                        title: 'Giá tiền',
                        autoHide: false,
                        // callback function support for column rendering
                    }
                ],
            });


            $('#kt_datatable_search_cate').on('change', function () {
                datatable.search($(this).val().toLowerCase(), 'Category');
            });
            $('#kt_datatable_search_sub_cate').on('change', function () {
                datatable.search($(this).val().toLowerCase(), 'Sub Category');
            });


            $('#kt_datatable_search_teacher').on('change', function () {
                datatable.search($(this).val().toLowerCase(), 'Giảng viên');
            });

            $('#kt_datatable_search_sub_cate, #kt_datatable_search_cate, #kt_datatable_search_teacher').selectpicker();

        };

        return {
            // Public functions
            init: function () {
                // init dmeo
                demo();
            },
        };
    }();

    jQuery(document).ready(function () {
        KTDatatableHtmlTableDemo.init();
    });

    jQuery('#kt_datatable').on('click', '.dlt-btn', function () {
        let id = $(this).attr('name')

        Swal.fire({
            title: "Bạn có chắc muốn xóa khóa học ?",
            text: "Bạn sẽ không thể hoàn tác",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Có",
            cancelButtonText: "Không",
            reverseButtons: true
        }).then(function (result) {
            if (result.value) {
                $.post("/admin/deleteCourse", { userID: id }, function (result) {
                    if (result = 'true') {
                        Swal.fire(
                            "Xóa thành công",
                            "",
                            "success"
                        )
                        window.location.reload();
                    }
                    else Swal.fire(
                        "Xóa không thành công",
                        "",
                        "error"
                    )
                });

                // result.dismiss can be "cancel", "overlay",
                // "close", and "timer"
            } else if (result.dismiss === "cancel") {
                Swal.fire(
                    "Hủy thao tác xóa",
                    "",
                    "error"
                )
            }
        });
    })
</script>

{{/section}}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label"><a href="/admin/course-management">Quản lý khóa học</a>
                            <span class="d-block text-muted pt-2 font-size-sm">Quản lý tất cả những khóa học được đăng
                                tải trên hệ thống</span>
                        </h3>
                    </div>
                    <div class="card-toolbar">

                    </div>
                </div>
                <div class="card-body">
                    <!--begin: Search Form-->
                    <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-8">
                                <div class="row align-items-center">
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Column Search..."
                                                id="kt_datatable_search_query" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row  align-items-center">

                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Giảng viên:</label>
                                            <select class="form-control" id="kt_datatable_search_teacher">
                                                <option value="">All</option>
                                                {{#each all_teacher}}
                                                <option value="{{name}}">{{fullname}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Lĩnh vực con:</label>
                                            <select class="form-control" id="kt_datatable_search_sub_cate">
                                                <option value="">All</option>
                                                {{#each all_sub_cate}}
                                                <option value="{{name}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Lĩnh vực:</label>
                                            <select class="form-control" id="kt_datatable_search_cate">
                                                <option value="">All</option>
                                                {{#each all_cate}}
                                                <option value="{{name}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--end::Search Form-->
                    <!--end: Search Form-->
                    <!--begin: Datatable-->
                    <table class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                        <thead>
                            <tr>
                                <th title="Field #1">Tên khóa học</th>
                                <th title="Field #2">Giảng viên</th>
                                <th title="Field #3">Category</th>
                                <th title="Field #3">Sub Category</th>
                                <th title="Field #4">Đánh giá</th>
                                <th title="Field #5">Giá tiền</th>
                                <th title="Field #6">Quản lý</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each courses}}
                            <tr>
                                <td><a href="/teacher/course/{{slug}}">{{name}}</a></td>
                                <td>{{author.fullname}}</td>
                                <td>{{ParentCategory}}</td>
                                <td>{{SubCategory}}</td>
                                <td>
                                    <span class="text-muted font-size-sm font-weight-bolder">
                                        <img src="/assets/media/logos/star{{roundRating rating}}.jpg" alt="image"
                                            style="width: 5.5rem">
                                    </span>
                                    <span class="text-muted font-size-sm font-weight-bolder">
                                        ( {{allRates}} Đánh giá)
                                    </span>
                                </td>

                                <td>
                                    <div class="d-flex flex-column ">
                                        {{#if price_discount}}
                                        <span
                                            class="text-dark-75 font-weight-bolder font-size-h4">${{price_discount}}</span>
                                        <s class="text-muted font-size-h5 font-weight-bolder">${{price}}</s>
                                        {{else}}
                                        <span class="text-dark-75 font-weight-bolder font-size-h4">${{price}}</span>
                                        {{/if}}
                                    </div>
                                </td>


                                <td data-field="Actions" data-autohide-disabled="false" aria-label="null"
                                    class="datatable-cell">
                                    <span style="overflow: visible; position: relative; width: 130px;">

                                        <a href="/admin/editUser/{{_id}}"
                                            class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mx-2"
                                            title="Sửa thông tin">
                                            <span href="#"
                                                class="btn btn-outline-warning btn-circle font-weight-bold mr-2">
                                                <i class="flaticon-edit-1"></i>
                                            </span>
                                        </a>
                                        <span name="{{_id}}"
                                            class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon dlt-btn"
                                            title="Xóa">

                                            <span href="#"
                                                class="btn btn-outline-info btn-circle font-weight-bold mx-2">
                                                <i class="flaticon2-trash"></i>
                                            </span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

<script>

</script>